<html>
    <head>
        <title>WanderingWanderlust</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    <body>
        <div>
            <h1><a href="">Wandering Wanderlust</a></h1>
        </div>

        <div>
            <p>published: 31.05.2015, 7:51</p>
            <h2><a href="">My first post</a></h2>
            <p>to the top</p>
        </div>

        <div>
            <p>published: 31.05.2015, 7:51</p>
            <h2><a href="">My second post</a></h2>
            <p>the toppermost</p>
        </div>
    </body>
</html>